//Type
@import url("https://use.typekit.net/wcv2vqn.css");
$base-font: mrs-eaves, serif;
$heading-font: gin, serif;

//Color Palette
$primary: black;
$yellow: #F1B05E;
$red: #FE5C5C;
$background: #FDF5EA;
$gradient: linear-gradient(-45deg, #AEA9A3, #F1B05E);

// Breakpoints
$mobile: 768px;
// Layout Utils
$mobile-padding: 25px;
$base-padding: 50px;
$large-padding: 100px;